body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartmap {
    width: 100%;
    height: 500px;
    max-width:100%;
    margin: auto;
    background-color: transparent;
  }
  
  #map {
    width: 100%;
    height: 500px;
    max-width:100%;
    margin: auto;
    background-color: transparent;
  }
  
  .section-white {
    background-image: url(mer.png);
    background-size: cover;
    background-size: contain;
    background-size: 1350px 710px;
    position: relative;
      overflow: hidden;
  }
  
  
  .section-test {
    background-image: url(mer.png);
    background-size: cover;
    background-size: contain;
    background-size: 1350px 710px;
    position: relative;
      overflow: hidden;
  }
  
  
  .section-two {
    background-image: url(bg2.jpeg);
    background-size: cover;
    background-size: contain;
    background-size: 1350px 710px;
    position: relative;
      overflow: hidden;
  }
  
  .footer {
    background-image: url(bg2.jpeg);
    background-size: cover;
  }
  
  #carte:hover {
    transform: scale(1.4);
  }
  
  #carte {
    transition: transform 1s 0.2s ease-in-out;
    transform: scale(1.2);
  }
  